/**************************************************************************************************
 *
 *  @Section: Forms
 *
***************************************************************************************************/
.site-content {
	$field-height: 40px;

	input:not([type='button']):not([type='submit']),
	textarea {
		width: 100%;
		height: $field-height;
		padding: 5px 10px;
		color: $main-color;
		background: $white;
		border: 1px solid $main-color;
		box-shadow: none;
		@include font-size(1.8);
		@include transition;
	}

	textarea { 
		min-height: 100px;
		width: 100%;
	}

	select {
		position: relative;
		width: 100%;
		height: $field-height;
		padding: 5px 10px;
		border: 1px solid $main-color;
		color: $main-color;
		background: $white;
		z-index: 2;
		@include font-size(1.8);
		@include transition;
	}

	select[name="tix_payment_method"] {
		width: auto;
	}

	input[type="submit"],
	input[type="button"] { @extend .btn; }

	input[type="radio"],
	input[type="checkbox"] { 
		width: auto !important;
		height: 20px !important;
	}
}
