/**************************************************************************************************
 *
 *  @Section: Forms
 *
***************************************************************************************************/
.site-content {
	$field-height: 40px;

	input:not([type='button']):not([type='submit']),
	textarea {
		padding: 12px;
		width: 100%;
		height: $field-height;
		color: $main-color;
		background: $white;
		border: 1px solid $main-color;
		box-shadow: none;
		@include font-size(1.8);
		@include transition;
	}

	textarea { min-height: 100px; }

	select {
		position: relative;
		height: $field-height;
		padding: 12px;
		border: 1px solid $main-color;
		color: $main-color;
		background: $white;
		z-index: 2;
		@include font-size(1.8);
		@include transition;
	}

	input[type="submit"],
	input[type="button"] { @extend .btn; }

	input[type="radio"],
	input[type="checkbox"] { height: 20px !important; }
}
