/**************************************************************************************************
 *
 *  @Section: Navigation
 *
***************************************************************************************************/
.site-navigation {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: $second-color;
	z-index: 1050;

	.assistive-text { display:  none; }

	.menu-wordcamp-container{
		@extend .container;
	}

	ul {
		margin: 0;
		padding: 0;
	    list-style-type: none;

		li { margin: 0; }
	}

	#menu-wordcamp {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		align-content: center;
		@include transition;

		> .menu-item {

			a {
				color: $white;
				padding: 15px;
				text-transform: uppercase;
				font-family: $font-heading;
				@include font-size(1.2);

				&:hover,
				&:focus,
				&:active {
					text-decoration: none;
					color: $light-second-color;
				}
			}

			> .sub-menu { 
				display: none;
				@include transition;
			}

			&.menu-item-has-children {
				

				&:hover,
				&:focus,
				&:active {
					
					> .sub-menu { 
						display: flex;
						flex-direction: column;
						align-items: stretch;
						flex-wrap: nowrap;
						position: absolute;
						background-color: $main-color;
						@include box-shadow;

						.menu-item { 
							display: inline-block;
							flex-grow: 1;
						}

						a { width: 100%; 

							&:hover,
							&:focus,
							&:active {
								color: $light-main-color;
								background-color: $dark-main-color;
							}
						}
					}				
				}
			}
		}
	}
}

@media only screen and (max-width: $breakpoint) {
	
	.site-navigation {
		background-color: transparent;

		.menu-toggle {
			visibility: hidden;

			&:after {
				content: '\f00d';
				font-family: 'fontawesome';
				visibility: visible;
				position: absolute;
				top: 15px;
				right: 15px;
				display: inline-block;
				padding: 5px 10px;
				color: $white;
				background-color: rgba($white, 0.2);
				z-index: 1050;
				@include rounded(50%);
				@include transition;
			}

			&.toggled-on {

				&:after {
					content: '\f0c9';
					@include rounded(3px);
				}
			}
		}

		.menu-wordcamp-container {
			width: 100%;
			position:  absolute;
			top: 0;
			left: 0;

			#menu-wordcamp {
				background-color: $second-color;
				padding-top: 50px;
				flex-direction: column;
				align-items: stretch;

				> .menu-item {

					a { 
						width:  100%;
						padding: 10px 15px; 
					}

					> .sub-menu {
						position:  relative !important;
						width:  100%;
						display: block !important;
						background-color: transparent !important;					

						> .menu-item {
							width:  100%;
							
							a { padding: 8px 10px 8px 50px; }
						}
					}
				}
			}
		}
	}
}
