/**************************************************************************************************
 *
 *  @Section: Content
 *
***************************************************************************************************/
.site-content {
	position:  relative;
	padding: 100px 0;
	color:  $white;
	background-color: $main-color;
	z-index: 1000;
	float: left;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 70px;
		background-color: $main-color;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		z-index: 1000;
		@include transform(skewY(-1.5deg));
	}

	&:after {
		top: 100%;
	}

	#content {
		padding-right: 300px;
		@extend .container;
	}

}

#secondary {
	position: absolute;
	top: 0;
	z-index: 1050;
}

@media only screen and (max-width: $breakpoint) {


		
}
