/**************************************************************************************************
 *
 *  @Section: Content
 *
***************************************************************************************************/
#main {
	position: relative;
	display: block;
	width: 100%;
	min-height: 650px;
	background-color: $white;

	&:before, 
	&:after { @include clearfix; }

	&:after { @include clearfix-after; }

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 70px;
		background-color: $white;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		z-index: 1000;
		@include transform(skewY(-1.5deg));
	}

	&:after {
		top: 100%;
	}
}

#primary {
	position: relative;
	padding: 80px 0 20px;
	width: 100%;

	#content {
		padding-right: 30vw;
		@extend .container;

		article { margin-bottom: 50px;

			.entry-title {
				padding-bottom: 25px;
				text-transform: uppercase;
				letter-spacing: 2px;
				font-weight: 700;
				color: $third-color;

				&:after {
					content: '';
					position: absolute;
					display: block;
					margin-top: 15px;
					width: 40px;
					height: 1px;
					background-color: $third-color;
				}
			}
			
			.entry-content { padding: 20px 0; 

				h1,
				h2,
				h3,
				h4,
				h5,
				h6 { 
					color: $main-color;
					text-transform: uppercase;
				}

				table {
					border-collapse: collapse;
					margin: 0 0 1.5em;
					width: 100%;

					tr { border-bottom: 1px solid $border-gray; }

					td, 
					th { padding: 15px 10px !important; }

					td { vertical-align: top; }

					thead {

						th { 
							text-align: left;
							font-weight: 700;
							color: $black;
							text-transform: uppercase;
						}
					}

					tbody {
						border-top: 2px solid $main-color !important;
						tr:nth-child(2n+1) { background: rgba($light-main-color, 0.1) none repeat scroll 0 0 !important; }
					}
				}

				.tix_tickets_table {
					
					.tix-right {

						label { 
							display: inline-block;
							margin-bottom: 10px;
						}
					}
				}

				.wcpt-schedule {
					width: calc(100% - 25px);
    				margin-left: 25px;
    				margin-bottom: 80px;

    				thead {
    					background-color: $main-color;

    					th { color: $white; }
    				}

					.wcpt-time { 
						color: $black;
						font-weight: 700;
					}

					.wcb-track-charlas:not([colspan='2']):before,
					.wcb-track-talleres:not([colspan='2']):before {
						display: block;
					    font-size: small;
					    color: $main-color;
					}

					.wcb-track-charlas:not([colspan='2']):before { content: 'Charla'; }

					.wcb-track-talleres:not([colspan='2']):before { content: 'Taller'; }
					
					.wcb-track-developers:after,
					.wcb-track-marketing:after,
					.wcb-track-negocios:after {
					    display: block;
					    font-size: small;
					}

					.wcb-track-developers:after { content: 'Track: Developers'; }

					.wcb-track-marketing:after { content: 'Track: Diseño, Marketing & SEO'; }

					.wcb-track-negocios:after { content: 'Track: Negocios'; }
					
					.wcb-session-registro {

						.wcpt-session-title:after {
							content: '\1F39F';
							font-size: 22px;
							margin-left: 5px;
							vertical-align: middle;
						}
					}

					.wcb-session-inauguracion-del-evento,
					.wcb-session-rifas-y-premios-del-dia,
					.wcb-session-rifas-y-premios-del-dia-2 {

						.wcpt-session-title:after {
						    content: '\1F4E3';
						    font-size: 22px;
						    margin-left: 5px;
						    vertical-align: middle;
						}
					}

					.wcpt-session-speakers {

						a {
						    font-style: italic;
						    font-size: 14px;
						    color: #2f3436 !important;
						}

						&:before, 
						&:after { @include clearfix; }

						&:after { @include clearfix-after; }
					}

					.global-session {
						color: $black;
						font-weight: 700;
						background-color: rgba($light-second-color, 0.1) !important;
					}

					.wcb-session-almuerzo,
					.wcb-session-almuerzo-2 {

						.wcpt-session-title:after {
						    content: '\1F354';
						    font-size: 22px;
						    margin-left: 5px;
						    vertical-align: middle;
						}
					}

					.wcb-session-refrigerio,
					.wcb-session-refrigerio-2 {
						color: $black;

						.wcpt-session-title:after {
						    content: '\2615';
						    font-size: 22px;
						    margin-left: 5px;
						    vertical-align: middle;
						}
					}

					.wcb-session-panel-wordpress-deployment {

						.wcpt-session-title:after {
						    content: '\1F465';
						    font-size: 22px;
						    margin-left: 5px;
						    vertical-align: middle;
						    text-decoration: none;
						    display: inline-block;
						}
					}
				}
			}
		}
	}
}

#secondary {
	position: absolute;
	top: 0;
	right: 12.5%;
	width: 25vw;
	min-width: 250px;
	height: 1px;

	#primary-sidebar {
		padding: 70px 15px;

		.widget { margin-bottom: 20px;

			.widget-title {
				padding-bottom: 25px;
				text-transform: uppercase;
				letter-spacing: 2px;
				font-weight: 700;
				color: $third-color;
				@include font-size(1.6);

				&:after {
					content: '';
					position: absolute;
					display: block;
					margin-top: 15px;
					width: 40px;
					height: 1px;
					background-color: $third-color;
				}
			}
		}
	}

	.widget_wpcom_social_media_icons_widget {
		
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;

			> li {

				a { 
					text-decoration: none;
					@include font-size(3);
				}
			}
		}
	}
}

#primary,
#secondary {
	z-index: 0;

	a {
		display: inline-block;
		color: $second-color;
		text-decoration: underline;
		@include transition;

		&:hover,
		&:focus,
		&:active {
			text-decoration: underline;
			color: $main-color;

			.thumb { outline: 1px solid $light-gray; }
		}
	}
}

.home {

	#main { background-color: $main-color;

		&:before,
		&:after { background-color: $main-color; }
	}

	#primary {

		#content {

			article {

				.entry-title {
					
					&:after { display: none; }
				}
			}
		}
	}

	#secondary {

		#primary-sidebar {

			.widget {

				.widget-title { color: $white;

					&:after { background-color: $white; }
				}
			}
		}
	}

	#primary,
	#secondary {
		color: $white;

		a { color: $light-main-color;

			&:hover,
			&:focus,
			&:active {color: $white;

				.thumb { outline: 1px solid $white; }
			}
		}
	}
}

.widget-area.front-page + .site-content > #content {
	
	&:before {
		content: 'Últimos Posts';
		display: inline-block;
		margin-bottom: 18px;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-weight: 700;
		@include font-size(2);
	}

	&:after {
		content: '';
		position: absolute;
		top: 0;
		display: block;
		margin-top: 120px;
		width: 40px;
		height: 1px;
		background-color: $white;
	}
}

.avatar {
		width: auto;
		float: left;
		margin-right: 10px;
		margin-bottom: 10px;
		@extend .thumb;
}

.wcorg-organizer-description,
.wcorg-speaker-description {
	
	&:before, 
	&:after { @include clearfix; }

	&:after { @include clearfix-after; }
}

@media only screen and (max-width: $tablet-portrait) {

	#primary {

		#content {
			width: 100%;
			padding: 0 20px; 
			min-height: auto;

			article {

				.entry-content {

					.wcpt-schedule {
						width: 100%;
	    				margin-left: 0;
	    			}
				}
			}
		}
	}

	#secondary {
		position: static;
		width: 100%;
		height: auto;
		padding: 0 20px;

		#primary-sidebar {
			padding: 0;
		}
	}
}
