/**************************************************************************************************
 *
 *  @Section: Homepage
 *
***************************************************************************************************/
#before-content-widgets {

	&.front-page {
		padding: 100px 18%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
		align-content: space-around;
		background-image: 	url("https://2017.managua.wordcamp.org/files/2017/04/before-content-bkg-left.png"),
							url("https://2017.managua.wordcamp.org/files/2017/04/before-content-bkg-right.png");
		background-repeat:  no-repeat, no-repeat;
		background-position: left 0 top 0px, left 100% top 0px;
		background-size: contain,contain;
		
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 100%;
			height: 50px;
			background-color: $white;
			-webkit-transform-origin: 0 0;
			transform-origin: 0 0;
			z-index: 1000;
			@include transform(skewY(-1.5deg));
		}
	}

	.widget {
		text-align: center;
		padding: 20px;

		.boxes {

			i { @include font-size(5); }

			h2 { 
				color: $third-color;
				text-transform: uppercase;
				font-weight: bold;
			}

			.btn { margin-top: 20px; }
		}
	}
}

.site-content {
	position:  relative;
	color:  $white;
	background-color: $main-color;

	&:before,
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 50px;
		background-color: $main-color;
		-webkit-transform-origin: 0 0;
		transform-origin: 0 0;
		z-index: 1000;
		@include transform(skewY(-1.5deg));
	}

	&:after {
		top: 100%;
	}

	#content {
		@extend .container;
	}

}

@media only screen and (max-width: $breakpoint) {

	#before-content-widgets {

		&.front-page {
			display: block;
			background-image: none;
		}
	}
		
}
